/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 17, 2018, 10:26:39 PM
    Author     : thoma
*/
h1{
    color:red;
}
body{
    color: red;
    background-image:url(../images/background2.jpg);
}
.dropdown-submenu {
    position: relative;
}

.dropdown-submenu .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -1px;   
}
.sTable{
    background-color: #1e1e1e;
    margin: 0.5em;
    display: block;
    opacity:0.8;
    width:50%;
    text-align:center;
}
.sInfo{
    
}
.sContent{
    
}
.bio{
    
}
.lfmUrl{
    color:red;
}

.lfmUrl:hover{
    color:orangered;
}
.albumInfo{
    text-align: center;
}
.container{
    
}
main{
    background-color: #1e1e1e; opacity:0.9;
}
